#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid black;
}

.child{
    /* background: #3bbced; */
    padding: 20px;
    border: 0.2px solid black;
}

/* 
.child:nth-child(even){
    background:#777;
} */